<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /php/ci
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond $1 !^(index\.php|css|flash|images|img|includes|js|language|robots\.txt)
    RewriteRule ^(.*)$ /php/ci/index.php/$1 [L]
</IfModule>